@use "../base/variables" as variables;

.is-hidden {
  display: none;
  opacity: 0;
  pointer-events: none;
}

.is-visible {
  display: block;
  opacity: 1;
  pointer-events: auto;
  animation: fadeIn 0.5s forwards;
}

.is-active {
  font-weight: bold;
  color: variables.$primary-color;
}

.is-disabled {
  opacity: 0.5;
  pointer-events: none;
}

