@use "../base/variables" as variables;
@use "sass:color";

.button, .cta-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: variables.$button-primary;
  color: variables.$button-text;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: variables.$button-hover;
  }
}

.cta-button {
  font-size: 1.2rem;
  padding: 0.75rem 1.5rem;
}

