@use "../base/variables" as variables;

.main-nav {
  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 1rem;

    li {
      a {
        text-decoration: none;
        color: variables.$text-color;
        font-weight: bold;

        &:hover {
          color: variables.$primary-color;
        }
      }

      &.active {
        a {
          color: variables.$primary-color;
        }
      }
    }
  }
}

@media (max-width: variables.$mobile-breakpoint) {
  .main-nav {
    ul {
      flex-direction: column;
    }
  }
}

