@use "../base/variables" as variables;;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: variables.$text-color;
  background-color: variables.$background-color;
}

